uniprot_request.py
valid_collection.pkl
x.py
adj.sse_lengths.tsv
adj.sse_stats.tsv
anchor_stats.tsv
testing_for_templates.ipynb
hPKD1_assign.py
data/
gaingrn.egg-info/
__pycache__/
other/testing_for_templates.ipynb